@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
  min-width: 80px; }

@media (max-width: 1440px) {
  .container {
    max-width: 1180px !important; } }
@media (min-width: 1441px) {
  .container {
    max-width: 1312px !important; } }
@media (max-width: 768px) {
  .container {
    max-width: 704px !important; } }
@media (max-width: 360px) {
  .container {
    max-width: 328px !important; } }
body {
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  position: relative; }
  body.noScroll {
    overflow: hidden; }

.wrapper.noScroll {
  overflow: hidden; }

p {
  margin-bottom: 0; }

a:hover {
  color: initial;
  text-decoration: none; }

hr {
  margin-top: 0;
  margin-bottom: 0; }

.mobile {
  display: none; }

header {
  display: flex;
  flex-direction: column; }
  header .header-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 24px 32px 0 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(75, 78, 87, 0.15); }
    header .header-upper .header-left img {
      height: 32px; }
    header .header-upper .header-right {
      display: flex;
      align-items: center; }
      header .header-upper .header-right .lang-switch {
        display: flex; }
        header .header-upper .header-right .lang-switch a {
          font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #002B5B; }
          header .header-upper .header-right .lang-switch a.active {
            color: #009DE8; }
        header .header-upper .header-right .lang-switch p {
          font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #002B5B;
          margin-left: 4px;
          margin-right: 4px; }
  header .blue-btn {
    background-color: #009DE8;
    padding: 8px;
    margin: auto;
    display: inline-flex;
    cursor: pointer;
    margin-right: 32px; }
    header .blue-btn p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      margin-right: 16px; }
  header .header-lower {
    display: flex;
    padding: 24px 0;
    top: 0;
    right: 0;
    left: 0;
    transition: 0,3s ease;
    z-index: 10;
    background-color: #ffffff; }
    header .header-lower .menu-items {
      display: flex;
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: center; }
      header .header-lower .menu-items .menu-item {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #002B5B;
        mix-blend-mode: normal;
        margin-right: 24px; }
        header .header-lower .menu-items .menu-item:last-of-type {
          margin-right: 0; }
        header .header-lower .menu-items .menu-item.active {
          color: #009DE8; }
    header .header-lower.sticky {
      position: fixed; }

.hero {
  background-image: url("images/hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 840px;
  max-height: calc(100vh - 75px);
  margin-bottom: 128px; }
  .hero .blue {
    padding: 0 128px;
    background-color: #002B5B;
    max-width: 672px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .hero .blue p.title {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: 3px;
      color: #009DE8; }
    .hero .blue h1 {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 72px;
      line-height: 88px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #FFFFFF; }

section {
  width: 100%; }
  section .more p span.close-sec {
    display: none; }
  section .more img {
    transform: rotate(0deg); }
    section .more img.rotate {
      transform: rotate(180deg); }
  section .overlaps {
    display: flex;
    flex-direction: row;
    width: 100%; }
  section .top {
    position: relative;
    padding: 72px 56px;
    max-width: 752px;
    background-color: #ffffff;
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.04);
    z-index: 3;
    margin-left: -192px;
    margin-top: 128px;
    height: 100%; }
    section .top .longtext {
      margin-bottom: 32px; }
      section .top .longtext .moretext {
        display: none; }
        section .top .longtext .moretext.open {
          display: block; }
    section .top h2 {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 52px;
      color: #262930;
      margin-bottom: 32px; }
    section .top p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 34px;
      color: #4B4E57;
      margin-bottom: 32px; }
      section .top p.bold {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 34px;
        color: #4B4E57;
        margin-bottom: 16px; }
    section .top li {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 34px;
      color: #262930; }
    section .top a {
      flex-direction: row;
      align-items: center; }
      section .top a img {
        transform: rotate(0deg); }
        section .top a img.rotate {
          transform: rotate(180deg); }
      section .top a p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 34px;
        text-decoration-line: underline;
        color: #262930;
        margin-bottom: 0;
        margin-right: 16px;
        display: inline-flex; }
        section .top a p span {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 34px;
          color: #262930;
          margin-bottom: 0; }
          section .top a p span.close-sec {
            display: none; }
      section .top a.more p span.close-sec {
        display: none; }
      section .top a.more img {
        transform: rotate(0deg); }
        section .top a.more img.rotate {
          transform: rotate(180deg); }
  section .textarea .longtext .moretext {
    display: none; }
    section .textarea .longtext .moretext.open {
      display: block; }
  section .textarea h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    color: #262930;
    margin-bottom: 32px; }
  section .textarea p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    color: #4B4E57;
    margin-bottom: 32px; }
    section .textarea p.bold {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 34px;
      color: #4B4E57; }
  section .textarea li {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    color: #262930; }
  section .textarea a {
    flex-direction: row;
    align-items: center; }
    section .textarea a p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 34px;
      text-decoration-line: underline;
      color: #262930;
      margin-bottom: 0;
      margin-right: 16px;
      display: inline-flex; }
      section .textarea a p span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 34px;
        color: #262930;
        margin-bottom: 0; }
  section span.close-sec {
    display: none; }
  section .center {
    max-width: 752px;
    width: 100%;
    height: 686px;
    position: relative;
    width: calc(100% - 128px);
    background-size: cover;
    background-image: url(images/Nordecon-yearbook-1.jpeg);
    background-position: center; }
    section .center .bottom {
      position: absolute;
      right: -64px;
      bottom: -64px;
      z-index: -1; }
  section h4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 1px;
    color: #009DE8;
    margin-top: 192px;
    margin-bottom: 48px;
    text-align: center; }
  section .bigPic {
    margin: 0 auto;
    width: 100%; }
  section#section-1 {
    margin-bottom: 112px; }
  section#section-3 {
    padding: 128px 0 182px 0; }
    section#section-3 .textarea {
      margin-right: 18px; }
    section#section-3 .center {
      background-image: url(images/portofranco.jpeg);
      max-width: 640px;
      width: 100%;
      height: 640px; }
      section#section-3 .center .bottom {
        left: -64px;
        right: initial; }
  section#section-6 {
    background-image: url(images/Nordecon-city.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 160px;
    margin-bottom: 128px;
    background-position: center; }
    section#section-6 .top {
      margin-left: auto;
      margin-top: 0;
      margin-bottom: 0;
      padding: 128px 160px;
      max-width: 960px; }
  section#section-7 .overlaps {
    margin-bottom: 320px; }
  section#section-7 .textarea {
    margin-right: 18px; }
  section#section-7 .center {
    background-image: url(images/Nordecon-building.jpeg);
    max-width: 752px;
    width: 100%;
    height: 686px; }
    section#section-7 .center .bottom {
      right: -64px;
      left: initial; }
  section#quotes {
    background-color: rgba(75, 78, 87, 0.05);
    padding: 128px 0;
    display: flex;
    justify-content: center; }
    section#quotes .row {
      justify-content: center; }
    section#quotes .slick-slider {
      max-width: 976px;
      width: 100%; }
      section#quotes .slick-slider .slick-next {
        right: -53px; }
      section#quotes .slick-slider .slick-prev {
        left: -80px; }
    section#quotes .bluequote {
      padding: 72px 56px 48px 56px;
      background-color: rgba(75, 78, 87, 0.05);
      transition: 0.2s ease;
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      section#quotes .bluequote img {
        margin-bottom: 56px; }
      section#quotes .bluequote p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 34px;
        color: #FFFFFF;
        text-align: center; }
      section#quotes .bluequote p.quote {
        font-family: Montserrat;
        font-style: italic;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 1px;
        color: #FFFFFF;
        margin-bottom: 32px; }
      section#quotes .bluequote p.bold {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 34px;
        letter-spacing: 1px;
        color: #FFFFFF; }
    section#quotes .slick-track {
      display: flex;
      align-items: center; }
    section#quotes .slick-slide.slick-current.slick-active {
      background-color: #002B5B; }
    section#quotes .slick-prev:before, section#quotes .slick-next:before {
      display: none; }
  section#section-8 {
    padding: 128px 0 16px 0; }
    section#section-8 .textarea {
      margin-right: 18px; }
    section#section-8 .center {
      background-image: url(images/Nordecon-safety.jpeg);
      max-width: 640px;
      width: 100%;
      height: 640px; }
      section#section-8 .center .bottom {
        right: -64px;
        left: initial; }
    section#section-8 table {
      margin-top: 128px; }
  section#section-9 {
    padding: 128px 0;
    background-color: rgba(75, 78, 87, 0.05); }
    section#section-9 .textarea {
      margin-right: 18px; }
      section#section-9 .textarea .longtext {
        margin-bottom: 32px; }
    section#section-9 .center {
      background-image: url(images/Nordecon-eco.jpeg);
      max-width: 640px;
      width: 100%;
      height: 640px; }
      section#section-9 .center .bottom {
        right: -64px;
        left: initial; }
    section#section-9 table {
      margin-top: 128px; }
  section#section-10 {
    padding: 128px 0; }
    section#section-10 .row {
      justify-content: flex-start; }
    section#section-10 .bluequote {
      background-color: #002B5B;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 72px 56px 48px 56px;
      height: 100%; }
      section#section-10 .bluequote img {
        margin-bottom: 56px; }
      section#section-10 .bluequote p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 34px;
        color: #FFFFFF; }
      section#section-10 .bluequote p.quote {
        font-family: Montserrat;
        font-style: italic;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 1px;
        color: #FFFFFF;
        margin-bottom: 32px; }
      section#section-10 .bluequote p.bold {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 34px;
        letter-spacing: 1px;
        color: #FFFFFF; }
    section#section-10 .col-lg-5 p {
      margin-bottom: 32px; }
  section#section-11 {
    background-image: url(images/Nordecon-digi.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 160px;
    margin-bottom: 128px;
    background-position: center; }
    section#section-11 .top {
      margin-left: auto;
      margin-top: 0;
      margin-bottom: 0;
      padding: 128px 160px;
      width: 50%;
      max-width: unset; }
  section#section-12 .overlaps {
    margin-bottom: 192px; }
  section#section-12 .textarea {
    margin-right: 18px; }
  section#section-12 .top .moretext p.bold:nth-of-type(n+2) {
    margin-top: 16px; }
  section#section-12 .center {
    background-image: url(images/Nordecon-tootajad.jpeg);
    max-width: 752px;
    width: 100%;
    height: 686px; }
    section#section-12 .center .bottom {
      right: -64px;
      left: initial; }
  section#section-13 {
    background-image: url(images/pattern.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 128px 0 144px 0; }
    section#section-13 .row {
      justify-content: center; }
    section#section-13 h2 {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 52px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 64px; }
    section#section-13 h4 {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 21px;
      line-height: 34px;
      letter-spacing: 1px;
      color: #ffffff;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0; }
    section#section-13 p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 34px;
      color: #FFFFFF;
      padding-bottom: 24px;
      margin-left: 28px; }
    section#section-13 .col-4 {
      padding-top: 80px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      section#section-13 .col-4:first-of-type {
        margin-right: 36px; }
  section#section-14 {
    background-color: rgba(75, 78, 87, 0.05);
    padding: 128px 0 16px 0; }
    section#section-14 .textarea {
      margin-right: 18px; }
    section#section-14 .center {
      background-image: url(images/Nordecon-bw.jpeg);
      max-width: 640px;
      width: 100%;
      height: 640px; }
      section#section-14 .center .bottom {
        right: -64px;
        left: initial; }
      section#section-14 .center.secondpart {
        background-image: url(images/Nordecon-yearbook-1.jpeg); }
        section#section-14 .center.secondpart .bottom {
          left: -64px;
          right: initial; }
      section#section-14 .center.thirdpart {
        background-image: url(images/Nordecon-veskitammi.jpeg); }
    section#section-14 h4 {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 21px;
      line-height: 34px;
      letter-spacing: 1px;
      color: #009DE8;
      text-align: left;
      margin-bottom: 48px; }
  section#gallery {
    padding: 128px 0; }
    section#gallery h2 {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 52px;
      text-align: center;
      color: #262930;
      margin-bottom: 64px; }
    section#gallery #projects-gallery {
      justify-content: center;
      margin-left: -15px;
      margin-right: -15px; }
      section#gallery #projects-gallery .col-lg-3 {
        max-width: 304px;
        margin: 16px;
        position: relative; }
        section#gallery #projects-gallery .col-lg-3 .img-overlay {
          opacity: 0;
          background-color: #009DE8;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.3s ease;
          position: absolute;
          top: 16px;
          left: 16px;
          right: 16px;
          bottom: 16px;
          cursor: pointer; }
          section#gallery #projects-gallery .col-lg-3 .img-overlay p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 34px;
            text-decoration-line: underline;
            color: #FFFFFF; }
        section#gallery #projects-gallery .col-lg-3:hover .img-overlay {
          opacity: 1; }
        section#gallery #projects-gallery .col-lg-3:nth-of-type(n+9) {
          display: none; }
        section#gallery #projects-gallery .col-lg-3 img {
          width: 100%; }
    section#gallery .loadmore {
      background-color: #009DE8;
      padding: 16px 32px;
      margin: auto;
      margin-top: 48px;
      display: inline-flex;
      cursor: pointer; }
      section#gallery .loadmore p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-right: 16px; }
  section#videos {
    padding: 128px 0; }
    section#videos h2 {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 52px;
      text-align: center;
      color: #262930;
      margin-bottom: 48px; }
    section#videos #video-gallery {
      justify-content: center; }
      section#videos #video-gallery .col-lg-4 {
        max-width: 416px;
        margin: 16px;
        position: relative;
        min-height: 402px;
        margin-bottom: 48px; }
        section#videos #video-gallery .col-lg-4:nth-of-type(1) {
          margin-left: 0; }
        section#videos #video-gallery .col-lg-4:nth-of-type(3) {
          margin-right: 0; }
        section#videos #video-gallery .col-lg-4 img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-height: 312px; }
        section#videos #video-gallery .col-lg-4 h4 {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 21px;
          line-height: 34px;
          text-align: center;
          letter-spacing: 1px;
          color: #009DE8;
          margin-top: 40px;
          margin-bottom: 0; }
  section#leaders {
    padding: 128px 0; }
    section#leaders h2 {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 52px;
      text-align: center;
      color: #262930;
      margin: auto;
      margin-bottom: 48px; }
    section#leaders img {
      width: 100%; }
  section hr + .row {
    margin-top: 96px; }
  section table {
    width: 100%;
    margin-top: 96px;
    margin-bottom: 96px; }
    section table:first-of-type {
      margin-top: 112px; }
    section table thead .col-4 {
      padding: 16px; }
      section table thead .col-4 h5 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #002B5B; }
    section table thead .col-2 {
      padding: 16px; }
      section table thead .col-2 h5 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        color: #009DE8; }
    section table tbody .row:nth-of-type(odd) {
      background-color: rgba(75, 78, 87, 0.05); }
    section table tbody .col-4 {
      padding: 16px; }
      section table tbody .col-4 h5 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #002B5B; }
    section table tbody .col-2 {
      padding: 16px; }
      section table tbody .col-2 h5 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        color: #009DE8; }
  section .centeralign {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 112px; }
    section .centeralign p.bold {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 34px;
      text-align: center;
      color: #262930;
      margin-bottom: 56px; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer .footer-upper {
    background-color: rgba(75, 78, 87, 0.05);
    padding: 112px 0;
    margin: 0 80px;
    width: 92%;
    display: flex; }
    footer .footer-upper .blue-btn {
      background-color: #009DE8;
      padding: 16px 32px;
      margin: auto;
      display: inline-flex;
      cursor: pointer; }
      footer .footer-upper .blue-btn p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-right: 16px; }
  footer .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0; }
    footer .footer-bottom img {
      margin-bottom: 56px; }

/******** TÕNU CSS ********/
ul {
  margin: 0;
  padding-left: 16px;
  list-style: none;
  /* Remove default bullets */ }
  ul li {
    font-family: Montserrat, sans-serif;
    margin-top: 16px;
    font-size: 16px;
    line-height: 34px;
    color: #262930; }

ul li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #009DE8;
  /* Change the color */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  margin-right: 8px;
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */ }

ol li {
  font-family: Montserrat, sans-serif;
  margin-top: 16px;
  font-size: 16px;
  line-height: 34px;
  color: #262930; }

p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 34px;
  color: #4B4E57;
  overflow: hidden; }

h2 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  color: #262930;
  margin-bottom: 32px; }

h3 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 34px;
  margin-bottom: 32px;
  color: #262930; }

section .small {
  font-size: 14px;
  line-height: 24px; }
section#key-figures {
  background: url(images/nordecon-pattern.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 128px 0 144px 0; }
  section#key-figures h2 {
    margin-bottom: 64px; }
  section#key-figures .row {
    width: calc(100% + 64px);
    margin-bottom: 80px; }
    section#key-figures .row:last-of-type {
      margin-bottom: 50px; }
    section#key-figures .row * {
      margin: 0;
      color: white; }
  section#key-figures .figure {
    margin: 0 16px;
    width: calc(100% - 32px);
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 100%; }
    section#key-figures .figure p.small {
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px; }
  section#key-figures h4 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1px;
    text-align: left; }
  section#key-figures .figure-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px; }
    section#key-figures .figure-header img {
      margin-right: 24px; }
  section#key-figures h2 {
    color: white;
    text-align: center; }
section .row .image-wrap .image-inner {
  position: relative; }
section .row .image-wrap img:first-of-type {
  position: relative;
  width: 100%;
  max-width: 640px;
  height: 640px;
  object-fit: cover;
  z-index: 1; }
section .row .image-wrap .pattern {
  position: absolute;
  bottom: -64px;
  right: -64px;
  z-index: 0;
  max-height: 576px; }

.section-gray {
  background-color: rgba(75, 78, 87, 0.05); }

#accordion-1 {
  padding: 128px 0 94px 0; }
  #accordion-1 .center {
    background-image: url(images/accordion-img-1.jpeg);
    max-width: 640px;
    width: 100%;
    height: 640px; }
    #accordion-1 .center .bottom {
      right: -64px;
      left: initial; }

#accordion-2 {
  padding: 128px 0 182px 0;
  background-color: rgba(75, 78, 87, 0.05); }
  #accordion-2 .center {
    background-image: url(images/saskiaalusalu.jpeg);
    max-width: 640px;
    width: 100%;
    height: 640px; }
    #accordion-2 .center .bottom {
      right: -64px;
      left: initial; }
  #accordion-2 .image-wrap {
    margin-right: 0; }
  #accordion-2 .pattern {
    right: unset;
    left: -64px; }

.accordion-wrap {
  width: 100%;
  max-width: 528px; }
  .accordion-wrap .accordion {
    background-color: transparent;
    border: none;
    border-top: 1px solid rgba(75, 78, 87, 0.15);
    color: #009DE8;
    cursor: pointer;
    padding: 32px 0;
    width: 100%;
    text-align: left;
    outline: none;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 34px;
    transition: 0.25s linear; }
    .accordion-wrap .accordion p {
      display: inline-flex;
      margin: 0;
      padding: 0; }
    .accordion-wrap .accordion:last-of-type {
      border-bottom: 1px solid rgba(75, 78, 87, 0.15); }
    .accordion-wrap .accordion.active {
      padding-bottom: 0;
      border-bottom: none; }
      .accordion-wrap .accordion.active:after {
        color: #009DE8;
        content: "\2212"; }
      .accordion-wrap .accordion.active + .faq-panel {
        margin-bottom: 48px; }
  .accordion-wrap .accordion:after {
    content: '\002B';
    color: #009DE8;
    font-size: 35px;
    font-weight: 100;
    float: right;
    margin-left: 5px; }
  .accordion-wrap .faq-panel {
    width: 100%;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s linear; }
    .accordion-wrap .faq-panel.active {
      padding: 0 0 48px 0;
      border-bottom: 1px solid rgba(75, 78, 87, 0.15); }
      .accordion-wrap .faq-panel.active + .accordion {
        border-top: none; }
    .accordion-wrap .faq-panel p {
      margin: 10px 0; }

@media screen and (max-width: 768px) {
  .desktop {
    display: none; }

  .mobile {
    display: flex; }

  header {
    padding: 28px 16px;
    transition: 0.2s ease;
    background-color: #ffffff; }
    header .header-upper {
      border-bottom: none;
      padding-bottom: 0;
      margin: 0; }
      header .header-upper .header-left img {
        height: 24px; }
      header .header-upper .blue-btn {
        display: none; }
      header .header-upper .header-right img {
        display: none;
        width: 32px; }
        header .header-upper .header-right img.burger {
          display: block; }
      header .header-upper .header-right .lang-switch {
        display: none; }
    header .header-lower {
      display: none; }
    header.sticky {
      position: fixed;
      z-index: 99;
      left: 0;
      right: 0;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); }

  .mob-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    top: 88px;
    z-index: 99;
    overflow-y: scroll;
    padding-bottom: 48px; }
    .mob-menu .menu-items {
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .mob-menu .menu-items a {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #002B5B;
        margin-bottom: 32px;
        text-align: center; }
        .mob-menu .menu-items a.active {
          color: #009DE8; }
    .mob-menu .blue-btn {
      background-color: #009DE8;
      padding: 8px;
      margin: auto;
      display: inline-flex;
      cursor: pointer;
      margin-top: 40px; }
      .mob-menu .blue-btn p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-right: 16px; }
    .mob-menu .lang-switch {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .mob-menu .lang-switch a {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #002B5B; }
        .mob-menu .lang-switch a.active {
          color: #009DE8; }
      .mob-menu .lang-switch p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #002B5B;
        margin-left: 4px;
        margin-right: 4px; }
    .mob-menu.open {
      display: flex; }

  .hero {
    background-image: url("images/hero-mobile.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 320px;
    max-height: 320px;
    margin-bottom: 0; }
    .hero .blue {
      display: none; }

  .hero-after .blue {
    display: flex;
    flex-direction: column;
    padding: 64px 16px;
    text-align: left;
    background-color: #002B5B;
    width: 100%; }
    .hero-after .blue p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 2px;
      color: #009DE8; }
    .hero-after .blue h1 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 72px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #FFFFFF; }

  section [class*="col-"] {
    padding-left: 16px;
    padding-right: 16px; }
  section h4 {
    margin-top: 0; }
  section h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px; }
  section .scrollthing {
    overflow-x: auto; }
  section#section-1 {
    padding-top: 56px;
    padding-bottom: 72px;
    margin-bottom: 0; }
    section#section-1 .overlaps {
      flex-direction: column;
      padding-left: 16px;
      padding-right: 16px; }
    section#section-1 .top {
      margin-top: 72px;
      padding: 0;
      box-shadow: none; }
      section#section-1 .top h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 48px;
        color: #262930; }
    section#section-1 h4 {
      margin-top: 128px; }
  section#section-3 {
    padding: 56px 16px 72px 16px; }
    section#section-3 .row {
      flex-direction: column-reverse; }
    section#section-3 .center {
      height: auto;
      min-height: 249px;
      width: calc(100% - 16px);
      margin-left: 32px; }
      section#section-3 .center .bottom {
        left: -16px; }
    section#section-3 .textarea {
      margin-right: 0;
      margin-top: 72px; }
      section#section-3 .textarea h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 48px; }
  section#section-6 {
    background-image: none;
    padding: 0;
    margin-bottom: 0; }
    section#section-6 .section-6 {
      flex-direction: column; }
      section#section-6 .section-6 .mobile-img {
        width: 100%;
        height: 320px;
        object-fit: cover; }
      section#section-6 .section-6 .top {
        padding: 56px 16px; }
  section#section-7 {
    padding-left: 16px;
    padding-right: 16px; }
    section#section-7 .overlaps {
      flex-direction: column;
      margin-bottom: 112px; }
    section#section-7 .center {
      height: unset;
      min-height: 248px;
      width: calc(100% - 16px); }
      section#section-7 .center .bottom {
        right: -16px; }
    section#section-7 .top {
      margin-top: 56px;
      padding: 0;
      box-shadow: none; }
      section#section-7 .top h2 {
        font-size: 36px;
        line-height: 52px;
        color: #262930; }
  section#section-8 .center {
    height: auto;
    min-height: 249px;
    width: calc(100% - 16px); }
    section#section-8 .center .bottom {
      right: -16px; }
  section#section-8 .textarea {
    margin-top: 72px; }
  section#section-8 table {
    margin-bottom: 48px;
    margin-top: 0; }
    section#section-8 table:last-of-type {
      margin-bottom: 0; }
    section#section-8 table .row {
      flex-wrap: nowrap;
      margin-left: 0; }
  section#section-9 {
    padding: 56px 0 72px 0; }
    section#section-9 .textarea {
      margin-top: 72px; }
    section#section-9 .center {
      height: auto;
      min-height: 249px;
      width: calc(100% - 16px); }
      section#section-9 .center .bottom {
        right: -16px; }
  section#section-10 {
    padding: 56px 0 32px 0; }
    section#section-10 .bluequote {
      padding: 72px 32px 48px 32px;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1px; }
      section#section-10 .bluequote p {
        font-weight: bold;
        font-size: 21px;
        line-height: 34px;
        letter-spacing: 1px; }
  section#section-11 {
    background-image: none;
    padding: 0;
    margin-bottom: 0; }
    section#section-11 .top {
      display: none; }
    section#section-11 .section-11 {
      flex-direction: column; }
      section#section-11 .section-11 .mobile-img {
        width: 100%;
        height: 320px;
        object-fit: cover; }
      section#section-11 .section-11 .top {
        display: flex;
        flex-direction: column;
        padding: 56px 16px;
        width: 100%; }
  section#section-12 {
    padding-top: 56px;
    padding-bottom: 72px;
    margin-bottom: 0; }
    section#section-12 .overlaps {
      flex-direction: column;
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 0; }
    section#section-12 .center {
      height: auto;
      min-height: 249px;
      width: calc(100% - 16px); }
      section#section-12 .center .bottom {
        right: -16px; }
    section#section-12 .top {
      margin-top: 72px;
      padding: 0;
      box-shadow: none; }
      section#section-12 .top h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 48px;
        color: #262930; }
    section#section-12 h4 {
      margin-top: 128px; }
  section#section-13 {
    padding: 56px 0 48px 0; }
    section#section-13 .mobile {
      flex-direction: column; }
      section#section-13 .mobile .col-lg-4 div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        section#section-13 .mobile .col-lg-4 div img {
          margin-bottom: 24px; }
        section#section-13 .mobile .col-lg-4 div p {
          text-align: center;
          margin-left: 0;
          padding-bottom: 0; }
      section#section-13 .mobile .arrows {
        display: flex;
        padding-top: 72px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
        justify-content: center;
        align-items: center; }
        section#section-13 .mobile .arrows a {
          cursor: pointer; }
        section#section-13 .mobile .arrows img {
          width: 32px;
          margin-right: 16px; }
        section#section-13 .mobile .arrows .nextSlide img {
          margin-right: 0; }
    section#section-13 .slick-slider {
      width: 100%;
      position: relative; }
      section#section-13 .slick-slider .slick-prev, section#section-13 .slick-slider .slick-next {
        display: none !important; }
  section#quotes {
    padding: 40px 16px 48px 16px; }
    section#quotes .slider p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 34px;
      color: #FFFFFF;
      padding-left: 16px; }
    section#quotes .slider p.bold {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      line-height: 34px;
      letter-spacing: 1px;
      color: #FFFFFF; }
    section#quotes .slick-initialized .slick-slide {
      background-color: #002B5B; }
    section#quotes .arrows {
      display: flex;
      padding-top: 72px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      width: 100%;
      justify-content: center;
      align-items: center; }
      section#quotes .arrows a {
        cursor: pointer; }
      section#quotes .arrows img {
        width: 32px;
        margin-right: 16px; }
      section#quotes .arrows .nextSlide img {
        margin-right: 0; }
    section#quotes .bluequote {
      padding: 72px 16px 48px 16px; }
      section#quotes .bluequote.longtext {
        margin-bottom: 32px; }
        section#quotes .bluequote.longtext .moretext {
          display: none; }
          section#quotes .bluequote.longtext .moretext.open {
            display: block; }
      section#quotes .bluequote p {
        padding-left: 0; }
      section#quotes .bluequote p.quote {
        font-style: italic;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 1px;
        text-align: left; }
    section#quotes a.more {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 32px;
      margin-bottom: 32px; }
      section#quotes a.more img {
        transform: rotate(0deg); }
        section#quotes a.more img.rotate {
          transform: rotate(180deg); }
      section#quotes a.more p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 34px;
        text-decoration-line: underline;
        color: #ffffff;
        margin-bottom: 0;
        margin-right: 16px;
        display: inline-flex;
        padding-left: 0; }
        section#quotes a.more p span {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 34px;
          color: #ffffff;
          margin-bottom: 0; }
          section#quotes a.more p span.close-sec {
            display: none; }
    section#quotes .slick-slider .slick-next {
      display: none !important; }
    section#quotes .slick-slider .slick-prev {
      display: none !important; }
  section#section-14 {
    padding: 56px 0 72px 0; }
    section#section-14 .container .row {
      margin-left: 0;
      margin-right: 0; }
      section#section-14 .container .row.secondrow {
        flex-direction: column-reverse; }
      section#section-14 .container .row .col-lg-6 {
        padding-left: 0;
        padding-right: 0; }
    section#section-14 .center {
      height: auto;
      min-height: 249px;
      width: calc(100% - 16px); }
      section#section-14 .center .bottom {
        right: -16px; }
      section#section-14 .center.secondpart {
        margin-left: 16px; }
        section#section-14 .center.secondpart .bottom {
          left: -16px;
          right: unset; }
    section#section-14 .textarea {
      margin-right: 0;
      margin-top: 72px; }
      section#section-14 .textarea h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 48px; }
    section#section-14 table {
      margin-bottom: 48px;
      margin-top: 0; }
      section#section-14 table:last-of-type {
        margin-bottom: 0; }
      section#section-14 table .row {
        flex-wrap: nowrap;
        min-width: 476px; }
  section#videos {
    padding: 56px 0 48px 0; }
    section#videos #video-gallery .col-lg-4 {
      margin-left: 0;
      margin-right: 0; }
      section#videos #video-gallery .col-lg-4 h4 {
        margin-top: 24px; }
  section .center {
    height: auto;
    min-height: 248px;
    width: calc(100% - 16px); }
    section .center .bottom {
      right: -16px;
      bottom: -16px;
      max-width: 96px;
      max-height: 160px; }
      section .center .bottom img {
        width: 100%; }
  section .top {
    margin-left: 0; }
  section#key-figures {
    padding: 56px 16px 48px 16px; }
    section#key-figures .row {
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
      section#key-figures .row:last-of-type {
        margin-bottom: 0; }
    section#key-figures .slick-slider {
      width: 100%;
      position: relative; }
      section#key-figures .slick-slider .slick-prev, section#key-figures .slick-slider .slick-next {
        display: none !important; }
    section#key-figures .figure {
      margin: 0;
      border-bottom: none; }
    section#key-figures .figure-header {
      flex-direction: column; }
    section#key-figures p {
      text-align: center; }
    section#key-figures .key-slick .slick-prev.prev, section#key-figures .key-slick .slick-next.next {
      display: block; }
    section#key-figures .key-slick .slick-dots {
      display: none !important; }
    section#key-figures .arrows {
      display: flex;
      padding-top: 72px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      width: 100%;
      justify-content: center;
      align-items: center; }
      section#key-figures .arrows a {
        cursor: pointer; }
      section#key-figures .arrows p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-left: 16px;
        margin-right: 16px; }
      section#key-figures .arrows img {
        width: 32px; }
  section#gallery {
    padding: 56px 0; }
    section#gallery h2 {
      font-size: 32px;
      line-height: 48px;
      text-align: center;
      color: #262930; }
    section#gallery #projects-gallery .col-lg-3 {
      padding-left: 0;
      padding-right: 0; }
      section#gallery #projects-gallery .col-lg-3:first-of-type {
        margin-top: 0; }
      section#gallery #projects-gallery .col-lg-3:last-of-type {
        margin-bottom: 0; }

  #accordion-1 {
    padding-top: 56px;
    padding-bottom: 40px; }
    #accordion-1 .center {
      width: calc(100% - 16px);
      height: auto;
      min-height: 249px; }
      #accordion-1 .center .bottom {
        right: -16px; }
    #accordion-1 .accordion-wrap {
      margin-top: 72px;
      max-width: unset; }

  #accordion-2 {
    padding: 56px 0 72px 0; }
    #accordion-2 .row {
      flex-direction: column-reverse; }
    #accordion-2 .center {
      width: calc(100% - 16px);
      height: auto;
      min-height: 249px; }
      #accordion-2 .center .bottom {
        right: -16px;
        left: initial; }
    #accordion-2 .accordion-wrap {
      margin-top: 72px;
      max-width: unset; }

  section hr + .row {
    margin-top: 48px; }

  footer .footer-upper {
    width: 100%; } }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  section#section-10 .bluequote {
    display: block !important; }

  section#quotes .bluequote {
    display: block !important; }

  section .centeralign {
    display: block;
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
